<ion-view view-title="More">
  <ion-content>
    <ion-list>
	  	<ion-item class='more-items list-item-title' ng-click='goToSettings()'>
	    	Settings
	  	</ion-item>
	  	<ion-item class='more-items list-item-title' ng-click='goToCurrencyConverter()'>
	    	Currency Converter
	  	</ion-item>
	  	<ion-item class='more-items list-item-title' ng-click='goToOffers()'>
	    	Offers and Deals
	  	</ion-item>
	  	<ion-item class='more-items list-item-title' ng-click='goToTripEssentials()'>
	    	Travel Essentials
	  	</ion-item>
	  	<ion-item class='more-items list-item-title' ng-click='goToTravelChecklist()'>
	  		Travel Checklist
	  	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
