<ion-view view-title="Traveller" class="bar-dark" hide-nav-bar="true">

  <ion-content padding="true" scroll="true"  has-bouncing="false" class="card-bg">

        <form novalidate name="plantrip" ng-submit="searchLocation(search)" class="card-wrapper">
          <div class="Aligner">

   <div class="Aligner-item">
                          <label class=" item item-input ">
                              <i class="icon ion-search placeholder-icon"></i>
                              <ion-google-place placeholder="Search Here" ng-model="search.location" ng-change="changeLocation(location)"/>
                          </label>

                          <button class="button button-block button-dark" type="submit">Plan now </button>
                        </div>

             </div>
                      </form>


          </ion-content>
</ion-view>
