<ion-view view-title="Planner" name="itineraryDetails">
	<ion-content>

<div class="row">
    <div class="col text-center map-title  ">{{cityname}}
    </div>
</div>

<div class="list">
    <div class="item item-divider">
        Day 1 - 12th June 2015
    </div>
	<div class="item ">
   		Flight at 10:00 pm from Bangalore to {{cityname}}
    </div>
    <div class="item">Hotel booked for 12th june</br>
        check in -12 pm
    </div>
	<div class="item ">
    	Flight at 10:00 pm from Bangalore to {{cityname}}
    </div>
    <div class="item ">Hotel booked for 12th june</br>
        check in -12 pm
    </div>
	<div class="item ">
    	Flight at 10:00 pm from Bangalore to {{cityname}}
    </div>

    <div class="item item-divider">
        Day 2 - 13th June 2015
    </div>
    <ul class="list">
<li class="item ">
    Flight at 10:00 pm from Bangalore to {{cityname}}
    </li>
    <li class="item ">Hotel booked for 12th june</br>
        check in -12 pm</li>
<li class="item ">
    Flight at 10:00 pm from Bangalore to {{cityname}}
    </li>
    <li class="item ">Hotel booked for 12th june</br>
        check in -12 pm</li>
<li class="item ">
    Flight at 10:00 pm from Bangalore to {{cityname}}
    </li>

</ul>
</div>
</ion-content>
</ion-view>
