<ion-view view-title="Plan Detail">

  <ion-content class="padding home-wrapper">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

    <div class="card card-bg padding text-backdrop">
      <div class="card-input">
        <div class="weather-content">
          <current-weather></current-weather>
          <div id="forecast" class="weather-box">
  <h4 class="title">Forecast</h4>
            <ion-scroll direction="x" id="forecast-scroll">
                    <div id="hourly-forecast">
                      <div class="hourly-hour" ng-repeat="hour in forecast.list | limitTo : 12">
                        <div class="time" ng-bind="hour.dt_txt | getHour"></div>
                        <weather-icon icon="hour.weather[0].icon"></weather-icon>
                        <div class="temp">{{hour.main.temp | tempInt | number:1}}&deg; C</div>
                      </div>
                    </div>
                 </ion-scroll>
          <div class="row" ng-repeat="day in dailyForecast.list">
            <div class="col"><span ng-bind="day.dt * 1000 | date:'EEEE'"></span></div>
            <div class="col"><weather-icon icon="day.weather[0].icon"></weather-icon></div>
            <div class="col">
              <span class="temp-high">{{day.temp.max | tempInt}}&deg;</span>
              <span class="temp-low">{{day.temp.min | tempInt}}&deg;</span>
          </div>
        </div>
<!--   <div class="clearfix">
    <div class="credit">
      Powered by <a href="http://forecast.io" target="_blank">forecast.io</a>
    </div>
  </div> -->
</div>

           </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
