<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{hotel.name}}">
  <ion-content class="padding home-wrapper card-bg-blur">
    <div class="black-box">
      <h4 class="title">{{hotel.name}}</h4>
      <div class="row">
        <div class="col"><i class="icon ion-ios7-telephone-outline"></i>&nbsp;<tel> {{hotel.international_phone_number}}</tel></div> 
      </div>
      <div class="row">
        <div class="col"><i class="icon ion-ios7-location-outline"></i>&nbsp;{{hotel.formatted_address}} </div>
      </div>
    </div><!-- end of black box -->
    
    <h1> Reviews </h1>
    <!-- reviews -->
    <div class="black-box" ng-repeat="review in hotel.reviews">
      <h4 class="title">{{review.author_name}}</h4>
      <div class="row">
        <div class="col"> {{review.rating}}</div> 
      </div>
      <div class="row">
        <div class="col">{{review.text}} </div>
      </div>
    </div><!-- end of black box -->
<!--     <ion-slide-box>
  <ion-slide ng-repeat="photo in photos">
    <img ng-src="data:image/jpeg;base64,{{photo}}" >
  </ion-slide>
</ion-slide-box> -->
  </ion-content>
</ion-view>
